<!DOCTYPE html>
<html lang="en" ng-app="app" >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
		<title>OroGold</title>
		<!-- Agregando  los  estrilos y  fuentes -->
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="assets/css/owl-carousel.css">
		<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
		<link rel="stylesheet" type="text/css" href="assets/css/stylepage.css">
		<link rel="stylesheet" type="text/css" href="assets/css/animated.css">
	</head>
	<body ng-controller="ControllerFirst" >
		<!-- Menu principal -->
		<header class="header-area header-sticky">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav class="main-nav">
							<a class="logo" > <img class="logoIcon" src="assets/img/cropped-orogold-logo-dgold.png"></a>
							<ul class="nav">
								<li class="scroll-to-section"><p class="goldColor emailmargin">OroGoldspa@orogold.com</p></li>
								<li><button type="button" class="btn btn-outline-warning">Reserva Ahora </button></li>
							</ul>
							<a class='menu-trigger'>
								<span>Menu</span>
							</a>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<!-- Primer Secion -->
		<div class="welcome-area" id="welcome">
			<div class="header-text">
				<div class="container">
					<div class="row">
						<div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
							<h1 ><strong class="goldColor">OROGOLD</strong></h1>
							<h3 class="WhiteColor">Cuando belleza y Glamour</h3>
							<br>
							<h3 class="WhiteColor">van de la mano.</h3>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
							<div class="wrapper fadeInDown">
								<div id="formContent">
									<form id="addCommentForm" method="post" action="">
										<h3 class="marginLogin">Reserva ahora tu cita</h3>
										<input type="text" id="name" class="fadeIn second"    name="name" placeholder="Nombre" ng-model="name">
										<input type="text" id="password" class="fadeIn third" name="login" placeholder="Email" ng-model="mail">
										<input type="text" id="password" class="fadeIn third" name="login" placeholder="Telefono" ng-model="phone">
										<button type="button" class="btn btn-outline-warning mgBottom" ng-click="SendFormulario(name,mail,phone)"
										ng-disabled="!name && !mail && !phone">Reserva Ahora </button>
										
									</form>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Segunda seccion -->
		<section class="section" id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
						<h3 class="allTratamientos">NUESTROS TRATAMIENTOS</h3>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
						<h5 class="center">El tratamiento de la casa de dos  horas de duracion ransporta a los  clientes a un oasis de relajacion. Incluye un masaje de espalda, hombros, piernas y pies utilizando aceites de masaje. </h5>
					</div>
					<div class="right-text col-lg-4 col-md-12 col-sm-12 mobile-top-fix" id="masajeoro">
						<div class="item service-item">
							<i><img class="imgCrop  goldShadow" src="assets/img/circleOne.jpg" alt=""></i>
							<h5 class="service-title goldColor">MASAJES CON ORO</h5>
							<p><strong>SPA Orogold</strong> ofrece tratamientos especializados de la mano de nuestros profesionales expertos, con productos excepcionales de marcas galardonadas.</p>
						</div>
					</div>
					<div class="right-text col-lg-4 col-md-12 col-sm-12 mobile-top-fix" id="exfoliacion">
						<div class="item service-item">
							<i><img class="imgCrop goldShadow" src="assets/img/circleTwo.jpg" alt=""></i>
							<h5 class="service-title goldColor">EXFOLIACION CON PRODUCTOS NATURALES</h5>
							<p>El tratamiento de la casa de dos horas de duracion transporta a los clientes a un oasis de relajacion.Incluye un masaje de espalda,hombros,piernas y pies.</p>
						</div>
					</div>
					<div class="right-text col-lg-4 col-md-12 col-sm-12 mobile-top-fix" id="recFacial">
						<div class="item service-item">
							<i><img class="imgCrop goldShadow" src="assets/img/circletrhee.jpg" alt=""></i>
							<h5 class="service-title goldColor">RECONSTRUCCION FACIAL</h5>
							<p>El tratamiento de la casa de dos horas de duracion transporta a los clientes a un oasis de relajacion. Incluye un masaje de espalda, hombros, piernas y pies. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="hr"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- Tercera  seccion -->
	<section class="section" id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12" >
					<h1 class="center"><strong class="cYellow">OROGOLD</strong></h1>
					
					<h5  class="WhiteColor center">El lujoso spa en Orogold, Mexico, ofrece un refugio sublime en pleno corazon de la ciudad. </h5>
					<br>
					<h5 class="WhiteColor center">Los  huespedes pueden disfrutar de un gimnasio de ultima generacion,una  relajante sauna o duchas a chorro durante su escapada de 5 estrellas en nuestro hotel boutique en Paris.por otra  parte, nuestra nueva asociacion con ZEAL COSMETICS asegura la disponibilidad de una gama de relajantes tratamientos faciales y corporales para mimarse y revitalizarse.</h5>
				</div>
				
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12" >
					<div id="visor" class="carousel slide" data-ride="carousel" style="margin-top: 71px;">
						<ul class="carousel-indicators">
							<li data-target="#visor" data-slide-to="0" class="active"></li>
							<li data-target="#visor" data-slide-to="1"></li>
							<li data-target="#visor" data-slide-to="2"></li>
							<li data-target="#visor" data-slide-to="3"></li>
						</ul>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="assets/img/vela.jpg" alt="Vela" width="1100" height="500">
								<div class="carousel-caption">
									<h3>Vela Aromatica</h3>
									<p class="cYellow">Aromas,naturales y relajantes</p>
								</div>
							</div>
							<div class="carousel-item">
								<img src="assets/img/tarro.jpg" alt="VelaTarro" width="1100" height="500">
								<div class="carousel-caption">
									<h3>Velas</h3>
									<p class="cYellow">Masajes romaticos.</p>
								</div>
							</div>
							<div class="carousel-item">
								<img src="assets/img/eye.jpg" alt="Face" width="1100" height="500">
								<div class="carousel-caption">
									<h3>Mascarillas</h3>
									<p class="cYellow">De productos y flores naturales</p>
								</div>
							</div>
							<div class="carousel-item">
								<img src="assets/img/masaje2.jpg" alt="Face" width="1100" height="500">
								<div class="carousel-caption">
									<h3>Masajes</h3>
									<p class="cYellow">Los  masajes  mas  relajantes</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section marTop" id="contact-us">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 divMap ">
					<div id="map"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 bgGray center">
					<h4  class="cYellow"><i class="fa fa-clock-o" aria-hidden="true"></i> Horarios</h4>
					<p>Lunes a Viernes de 10:00 a 19:00	</p>
					<p>Sabados, Domingos y festivos	de 10:00 a 18:30</p>
					<br>
					<p>Pueden concentarse tratamientos fuera del </p>
					<p>Horario de apertura indicado con cita previa.</p>
					<br>
					<h4  class="cYellow"><i class="fa fa-location-arrow" aria-hidden="true"></i> Direccion</h4>
					<p>Av. Insurgentes Sur 105, Roma Sur, Cuahutemoc</p>
					<p>06600 Ciudad de Mexico, CDMX, Mexico.</p>
					<a href="https://www.google.com/maps/place/Av.+Insurgentes+Sur+105,+Roma+Sur,+Cuauht%C3%A9moc,+06600+Ciudad+de+M%C3%A9xico,+CDMX/@19.425475,-99.1645727,17z/data=!4m5!3m4!1s0x85d1ff6b3dbaf75b:0x8c21bd502927d0f7!8m2!3d19.425475!4d-99.162384" target="_blank">
						<button type="button" class="btn btn-outline-warning ">
					<i class="fa fa-map-marker"></i> Ver en Mapa</button></a>
				</div>
			</section>
			<section>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 marTop">
							<img src="assets/img/masaje.jpg" alt="Face" class="imgBotton"  >
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 marTop bgGray center">
							<h4  class="goldColor ">NO DEJES PASAR ESTA OPORTUNIDAD</h4>
							<h5 >	Sabias que un masaje debido a su accion calmante y analgesica viene dada mediante actos reflejos que afectan al sistema nervioso central o esto causa la liberacion de endorfinas que anulan la sensacion de dolor en el cerebro. El estimulo de los  mecanos receptores mediante el masaje se ha demostrado que alivia el dolor y la tension muscular.</h5>
							<a href="#welcome">
							<button type="button" class="btn btn-outline-warning marTop" id="volverArriba"><i class="fa fa-calendar"></i> Reserva Ahora</button></a>
						</div>
					</div>
				</section>
				<footer class="marTop">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-12 col-sm-12">
								<a class="logo" > <img class="footerImg" src="assets/img/cropped-orogold-logo-dgold.png"></a>
								<p class="correo"> <i class="fa fa-envelope"></i> OroGoldspa@orogold.com</p>
								<a class="logo" > <img class="footerImg" src="assets/img/cropped-orogold-logo-dgold.png"></a>
								<p class="correo"> <i class="fa fa-phone"></i> 525502630032</p>
							</div>
							<div class="col-lg-5 col-md-12 col-sm-12">
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
				<!-- Modales  para validacion de  correo -->
				<div class="modal" id="citaAgendada">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bgModalExit">
								<h4 class="modal-title">Informacion de Cita</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body center">
								Cita Agendad con Exito <i class="fa fa-check" aria-hidden="true"></i>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrrar</button>
							</div>
							
						</div>
					</div>
				</div>
				<div class="modal" id="ErrorCita">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bgModalError">
								<h4 class="modal-title">Informacion de Cita</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body center">
								Ya  cuentas con una  cita, valida los datos en tu correo.<i class="fa fa-envelope-o" aria-hidden="true"></i>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrrar</button>
							</div>
							
						</div>
					</div>
				</div>
				<!-- LIBRERIAS  ADICIONALES   JQUERY,Bootstrap Y  ARCHIVOS  PROPIOS-->
				<script src="assets/js/jquery-2.1.0.min.js"></script>
				<script src="assets/js/popper.js"></script>
				<script src="assets/js/bootstrap.min.js"></script>
				<script src="assets/js/owl-carousel.js"></script>
				<script src="assets/js/scrollreveal.min.js"></script>
				<script src="assets/js/waypoints.min.js"></script>
				<script src="assets/js/jquery.counterup.min.js"></script>
				<script src="assets/js/imgfix.min.js"></script>
				<script src="assets/js/ctrPrincipal.js"></script>
				<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
				<script src="assets/js/app.js"></script>
				
				
			</html>